<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <bean name="st1" class="com.Springrm.collection.Student">
        	<property name="name" value="Spring"/>
        	<property name="address">
        		<list>	
        			<value>India</value>
        			<value>usa</value>
        		</list>
        	</property>
        	<property name="phno">
        		<set>	
        			<value>124</value>
        			<value>3345</value>
        		</set>
        	</property>
        	<property name="course">
        		<map>	
        			<entry key="java" value="2month"/>
        			<entry key="c++" value="1month"></entry>
        		</map>
        	</property>
        		
        </bean>
		

</beans>