<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <bean class="com.Springrm.ci.certificate" name="ce">
        	<constructor-arg value="1"/>
        	<constructor-arg value="java"/>
        	
        </bean>
        
        <bean class="com.Springrm.ci.Student" name='st'>
        	<constructor-arg value="1" type="int"/>
        	<constructor-arg value="ritesh"/>
        	<constructor-arg value="india"/>
        	<constructor-arg >
        		<list>
	        		<value>java</value>
	        		<value>Python</value>
        		</list>
        	</constructor-arg>
        	<constructor-arg ref="ce"/>
        	
        </bean>

</beans>